@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply bg-secondary dark:bg-secondary-dark;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    width: 85vw;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    border: none;
    outline: none;
    background: none;
}

.header {
    @apply bg-primary dark:bg-primary-dark dark:text-secondary py-4 shadow-sm;
}
.header .title {
    @apply text-lg font-semibold;
}

.main {
    @apply bg-secondary dark:bg-secondary-dark dark:text-secondary pt-6;
}

.countryCard {
    @apply bg-primary dark:bg-primary-dark flex-[0_0_100%] md:flex-[0_0_23%] sm:flex-[0_0_32%] mb-6 rounded-md overflow-hidden shadow-sm cursor-pointer transition-shadow hover:shadow-md;
}
